*,
::before ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  color: #757575;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.hero-but {
  font-weight: 700;
  font-style: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
  border: none;
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.feature-item :not(:last-child) {
  margin-bottom: 30px;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.header {
  width: 85%;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.st {
  display: none;
}

.menu-site-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-site-contact:not(last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .menu-site-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site {
  display: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 32px;
  }
  .icon-menu {
    display: none;
  }
  .menu-site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-nav .item:hover {
    color: #2196F3;
  }
  .header-contact .item:hover {
    color: #2196F3;
  }
  .menu_nav-item {
    position: relative;
    margin-right: 57px;
  }
  .menu_nav-item {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-icon {
    fill: #757575;
    margin-right: 10px;
  }
  .link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .link:hover {
    color: #2196F3;
  }
  .link:hover .header_icon {
    fill: #188CE8;
  }
}
@media screen and (min-width: 1199px) {
  .header-contact {
    min-width: 340px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contact li:nth-child(2) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact-item:not(:last-child) {
    margin-bottom: 13px;
  }
  .menu-site-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.item {
  width: 122px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.item:not(last-child) {
  margin-right: 55px;
}

.item:hover {
  color: rgb(30, 173, 255);
}

.menu-re {
  width: 122px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.menu-re1 {
  color: rgb(0, 0, 0);
}

.menu-re2 {
  color: rgb(0, 0, 0);
}

.link-re3 {
  color: rgb(30, 173, 255);
}

.link-re4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(122, 121, 121, 0.837);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/img/team.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 240px 0;
}
.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(img/team.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/team.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(img/team.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/team.jpg);
  }
}

.hero-title {
  color: #FFFFFF;
}

.wrap-icon {
  background-color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
  background-color: #757575;
}

.feature-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .feture-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .feature-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .feture-item {
    width: calc((100% - 120px) / 4);
  }
}
.section-do {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .section-do {
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .what-we {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
.our-team {
  background-color: #F5F4FA;
  margin-top: 100px;
  text-align: center;
  padding-bottom: 10px;
}

.team-list {
  margin-bottom: 30px;
}

.item-cart img,
.feature-item img {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.item-cart:last-child,
.feature-item:last-child {
  margin-right: 0;
}

.item-cart {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

.team_title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team_text {
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 468px) {
  .item-cart,
  .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .team-list,
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-cart,
  .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .item-cart,
  .feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc((100% - 120px) / 4);
  }
}
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-item {
  border: 1PX solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 15px;
}

.clients-item:hover {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.clients-icon {
  fill: #afb1b8;
}

.clients-item:hover .clients-icon {
  fill: #2196F3;
}

@media screen and (min-width: 480px) {
  .clients-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}
.footer {
  background-color: #2f303a;
  font-size: 14px;
}

.web {
  width: 100%;
  height: 252px;
  padding: 30px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  color: #FFF;
  text-align: center;
}

.web2 {
  color: rgb(30, 173, 255);
}

.web3 {
  color: #FFF;
}

.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 4px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.cit {
  color: #FFFFFF;
  font-size: 14px;
}

.rex {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(122, 121, 121, 0.837);
}

.clik {
  text-align: center;
  font-size: 23px;
}

.folow {
  text-align: center;
  width: 200px;
  height: 50px;
  color: #FFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .web2,
  .footer-logo {
    color: #000;
  }
}/*# sourceMappingURL=main.css.map */