$color-grey:#757575 ;
$color-white:#FFF ;
$color-rgb-blue:  rgb(30, 173, 255);
$color-blue: #188CE8 ;
$color-black:#000 ;
$color-secondary-blue: #2196F3;
$color-secondary-black: #212121;
$color-rgba-gray: rgba(47, 48, 58, 0.4);
$color-secondary-rgba-gray: rgba(0, 0, 0, 0);
$color-secondary-white:#FFFFFF  ;
$color-third-white: #F5F4FA ;
$color-rgba-black: rgba(0, 0, 0, 0.12);
$color-secondary-rgba-black:rgba(0, 0, 0, 0.12) ;
$color-third-rgba-black: rgba(0, 0, 0, 0.2);
$color-secondary-gray: #afb1b8;
$color-darkgray:#2f303a ;
$color-rgba-darkgray: rgba(122, 121, 121, 0.837);;